<%- include("header") -%>

<div class="container emp-profile">
        
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="/uploads/<%= session.tutorPicture %>" alt="Profile Picture">

                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    <%= session.firstname %> <%= session.lastname %>
                </h5>

                <p class="proile-rating">Ratings: 
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-stroke"></i>
                    <span>(4.5/5)</span> 
                </p>
                        
                    
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="col-md-2">
            <a href="/auth/logout"><input type="submit" class="profile-edit-btn" name="btnLogOut" value="Log Out"/></a>
        </div>
        
    </div>
    <div class="row">
    
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            
                    <!-- copy from here -->
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Username</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= session.username %></p>
                                </div>
                            </div>
                    <!-- to here: to add new row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= session.firstname %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= session.email %></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Contact No:</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= session.contactNumber %></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Experience</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= session.experience %> <span> years</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Monthly Fees</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Rs. <%= session.monthlyFee %></p>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Availability</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= session.availability %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>About Me</label>
                                </div>
                                <div class="col-md-12">
                                    <p><%= session.bio %></p>
                                </div>
                            </div>
                </div>

            </div>
        </div>
    </div>
    
</div>

<%- include("footer") -%>